.dGrowl-main {
	position: fixed;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 999;
}

.dGrowl-notification {
	margin: 8px;
	padding: 8px;
	width: 250px;
	opacity: 0;
	-webkit-transition: margin-left 1.5s ease, opacity 1s linear;
	-moz-transition: margin-left 1.5s ease, opacity 1s linear;
	-o-transition: margin-left 1.5s ease, opacity 1s linear;
	transition: margin-left 1.5s ease, opacity 1s linear;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 12px -3px #000000;
	box-shadow: 5px 5px 12px -3px #000000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #222;
}
.dGrowl-topRight {
	top: 10px;
	right: 5px;
}
/* -- CHANNELS -- */
.dGrowl-channel {
	z-index: 999;
	position: relative;
	padding: 0 4px;
	overflow: hidden;
	width: 280px;
	display: block;
}
/* -- NOTIFICATIONS -- */
.dGrowl-title {
	font-weight: bold;
	font-size: 0.9em;
}
.dGrowl-topRight .dGrowl-notification {
	margin-left: 300px;
}
.dGrowl-notification.dGrowl-visible {
	opacity: 1;
	margin-left: 0;
	margin-right: 0;
}
a.dGrowl-close-btn {
	color: inherit;
	font-variant: normal;
	text-decoration: none;
	cursor: pointer;
	float: right;
	margin: 0 4px;
	opacity: 0.6;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-style: normal;
}
a.dGrowl-close-btn:hover {
	opacity: 0.85;
	color: inherit;
	font-variant: normal;
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-style: normal;
}
/* default notification*/
.dGrowl-notification {
	background-color: rgb(217, 237, 247);
    border: 2px solid #BCE8F1;
}
/* Custom notification styles! */
.dGrowl-channel-error .dGrowl-notification {
	background-color: rgb(242, 222, 222);
    border: 1px solid #B94A48;
}

/* 'Warning' Channel */
.dGrowl-channel-warning .dGrowl-notification {
  	background-color: rgb(255, 255, 188);
  	border: 1px solid rgb(246, 230, 146);
}
 
/* 'Confirmation' Channel */
.dGrowl-channel-confirmation .dGrowl-notification {
 	background-color: rgb(236, 249, 223);
  	border: 1px solid rgb(200, 226, 184);
}
