<div id="${id}" class="dGrowl-notification dGrowl-notification-${channel} ${stickyClass}">
	<a href="#x" class="dGrowl-close-btn" data-dojo-attach-event="onclick:killme">X</a>
	<span class="dGrowl-header"><span class="dGrowl-title">${!title}</span></span>
	<div class="dGrowl-message">${!message}</div>
</div>
